@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
body {
    margin-top: -10px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: #e9e9e9;
    font-family: 'Balsamiq Sans', cursive;
    overflow-x: hidden;
}
header {
    height: 80px;
    padding-bottom: 10px;
}
.cabecalho {
    margin-top: -10px;
    background-color: #191919;
    height: 80px;
    width: 100%;
    float: left;
    margin: 0 auto;
    padding: 5px;
}
a {
    color:white;
    text-decoration: none;
}

.escopo {
    vertical-align: middle;
    width: 980px;
    position: relative;
    margin: 0 auto;
}
.logo {
    color:rgb(203, 29, 32);
    font-size: 55px;
    padding: 5px;
    position: relative;
    margin-left: 35px;
    width: 30%;
    float: left;
}
.menu ul li {
    color: white;
    font-size: 23px;
    display: inline;
    list-style: none;
    float: left;
    padding: 8px;
}
.menu ul li:hover {
    border-bottom: 5px white;
    height: 0px;
}
.menu {
    top: 40px;
    width: 30%;
    float: right;
}

section.principal {
    margin: 0 auto;
    width: 968px;
    position: relative;
    border: blue;
    border-left: #191919 solid 6px;
    border-right: #191919 solid 6px;
    padding: 1px;
    padding-top: 30px;
    min-height: 434px;
    background-color: #bdbebd;
}

.text {
    
    padding: 5px;
    text-align: justify;
    margin: 20px;
    background-color: #808080;
    color: #191919;
    font-size: 18px;
    text-indent: 3em;
    border-radius: 10px 20px;
}
.text h1 {
    text-align: center;
    text-indent: none;
}

.rodape {
    color: white;
    width: 100%;
    margin: 0 auto;
    margin-top: 0px;
    clear: both;
    background-color: #191919;
    height: 70px;
    font-size: 20px;
}
.rodape p {
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    padding-top: 23px;
}
.rodape a {
    color: #0e76a8;
}
